<div class="container">
  <div class="img">
    <img src="assets/image/logo_pet.png" alt="Logo" class="imgSize" />
  </div>

  <!-- <div class="header">
    <h1><strong>DASHBOARD</strong></h1>
    <button class="btn btn-warning" (click)="getFood()">Gerar Dados</button>
  </div> -->

  <div class="filter">

    <mat-form-field appearance="fill">
      <mat-label>Espécie</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onSelectionChange($event.value)">
        <mat-option value="pets">Pets</mat-option>
        <mat-option value="dog">Cachorro</mat-option>
        <mat-option value="cat">Gato</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="filterDog">
      <mat-form-field appearance="fill">
        <mat-label>Consulta por Pet</mat-label>
        <!-- <mat-select [(ngModel)]="selectedFood"  (selectionChange)="onSelectionChangeFood($event.value)"> -->
        <mat-select [(ngModel)]="petInfo">
          <mat-option *ngFor="let dog of dogs" [value]="dog">
            {{ dog.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- <div *ngIf="filterCat">
      <mat-form-field appearance="fill">
        <mat-label>Consulta por Pet</mat-label>
        <mat-select [(ngModel)]="selectedFood">
          <mat-option *ngFor="let cat of cats" [value]="cat.id">
            {{ cat.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <!-- <button *ngIf="selectedFood" type="button" >Gerar Dados</button> -->
    <button *ngIf="petInfo" mat-raised-button color="primary" type="button" class="sizeInput" (click)="getFood()">Gerar Dados</button>


  </div>
</div>

<app-card-total [filterPet]="selected" [petId]="petInfo"></app-card-total>

