<div class="header">

  <!-- <div class="icon"> -->

    <div >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"
      (click)="toggleHome()" class="color" color="warn"
      ></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example pets icon" fontIcon="pets"
      (click)="toggleHome()" color="warn" class="color"
      ></mat-icon>
    </div>

    <div >
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="login"
      (click)="toggleExit()" class="color" color="primary"
      ></mat-icon>
    </div>

  <!-- </div> -->
</div>
