<div *ngIf="filterPet === 'pets'" class="card">
  <div  >
    <mat-card>
      <div class="card-header">
        <mat-card-title>TOTAL DE PETS</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="pets"
        ></mat-icon>
      </div>
      <div class="card-total">
        <div class="display">
          <h2>{{ petTotal }}</h2>
          <mat-card-subtitle>pets cadastrados</mat-card-subtitle>
          <mat-card-content class="dogContainer">
            <div class="onLegenda"></div>
            {{ dogPorcent }} Cachorro
          </mat-card-content>
          <mat-card-content class="dogContainer">
            <div class="twoLegenda"></div>
            {{ catPorcent }} Gato
          </mat-card-content>
        </div>
        <div class="graphicTotal">
          <canvas id="pie"> {{ chartPizza }}</canvas>
        </div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div class="card-header">
        <mat-card-title>SUCESSO DO ALIMENTADOR</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="pets"
        ></mat-icon>
      </div>
      <div class="card-total">
        <div class="display">
          <h2>{{ foodTotal }}</h2>
          <mat-card-subtitle>total de alimentações</mat-card-subtitle>
          <mat-card-content class="dogContainer">
            <div class="onLegenda"></div>
            {{ sucessBinomialPorcent }} Sucesso
          </mat-card-content>
          <mat-card-content class="dogContainer">
            <div class="twoLegenda"></div>
            {{ errorBinomialPorcent }} Erro
          </mat-card-content>
        </div>
        <div class="graphicTotal">
          <canvas id="binomial"> {{ chartBinomial }}</canvas>
        </div>
      </div>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <div class="card-header">
        <mat-card-title>Moda por Espécie</mat-card-title>
        <mat-icon
          aria-hidden="false"
          aria-label="Example home icon"
          fontIcon="pets"
        ></mat-icon>
      </div>
      <mat-card-content>
        <mat-card-subtitle>Espécie de cachorro de maior quantidade</mat-card-subtitle>
        <p>Moda : {{ modeCard.dog }}</p>
        <mat-card-subtitle>Espécie de gato de maior quantidade</mat-card-subtitle>
        <p>Moda : {{ modeCard.cat }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<app-dog *ngIf="filterPet === 'dog'" ></app-dog>



<div
*ngIf="filterPet === 'cat'"
class="card-body display">
  <h2>GATOS</h2>
  <div class="card">


    <div>
      <mat-card>
        <div class="card-header">
          <mat-card-title>Quantidade de ração</mat-card-title>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="pets"
          ></mat-icon>
        </div>
        <mat-card-subtitle>Estatistica Descritiva</mat-card-subtitle>
        <mat-card-content>
          <p>Média : {{ meanResponse }}</p>
          <p>Mediana : {{ medianResponse }}</p>
          <p>Moda : {{ modeResponse }}</p>
          <p>Desvio Padrão : {{ stdeviationResponse }}</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div>
      <mat-card>
        <div class="card-header">
          <mat-card-title>Peso dos Cachorros</mat-card-title>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="pets"
          ></mat-icon>
        </div>
        <mat-card-subtitle>Estatistica Descritiva</mat-card-subtitle>

        <mat-card-content>
          <p>Média : {{ staticFood.meanResponse }}</p>
          <p>Mediana : {{ staticFood.modeResponse }}</p>
          <p>Moda : {{ staticFood.medianResponse }}</p>
          <p>Desvio Padrão : {{ staticFood.stdeviationResponse }}</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <mat-card>
        <div class="card-header">
          <mat-card-title>TOTAL DE GATOS</mat-card-title>
          <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="pets"
          ></mat-icon>
        </div>
        <mat-card-content>
          <canvas id="barCat">
            {{ chartCatBarra }}
          </canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


