<div class="container">
  <div class="cont">
    <div class="img">
      <img src="assets/image/logo_pet.png" alt="Logo" class="input" />
    </div>


    <div >
      <form [formGroup]="userForm"
        (ngSubmit)="onSubmit(userForm.value)">
        <div class="modal-body">

        <mat-form-field class="sizeInput" >
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
          <mat-error>Email é obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field class="sizeInput" >
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password">
          <mat-error>Senha é obrigatório</mat-error>
        </mat-form-field>



        <button mat-raised-button color="primary" type="submit" class="sizeInput" >Salvar</button>
      </div>

      </form>
    </div>
    <app-modal></app-modal>
  </div>

</div>
