.container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  border: 1px solid #a1c2e9;
  border-radius: 10px;
  box-shadow: 5px -1px 13px 3px rgba(206, 205, 205, 0.39);
  padding: 10px;
  background-color: rgb(207, 206, 203);
}

.card{
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #a1c2e9;
  border-radius: 10px;
  box-shadow: 5px -1px 13px 3px rgba(206, 205, 205, 0.39);
  margin: 10px;
}
